<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mobileDao" class="com.yesion.dao.impl.ITMobileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="resourceService" class="com.yesion.service.impl.IResourceServiceImpl">
        <property name="mobileDao" ref="mobileDao"/>
    </bean>

    <bean id="resourceAction" class="com.yesion.action.ResourceManagerAction">
        <property name="resourceService" ref="resourceService"/>
    </bean>

</beans>